<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "UTF-8">

<title>商品詳細 | SUMOKAN</title>
<link rel= "stylesheet" type="text/css" href="/css/product_detail.css">
<link rel="stylesheet" th:href="@{/css/common.css}" href="/css/common.css" />
</head>


<body>
	<header th:insert="fragments/page_header.html :: pageHeader">
	</header>
	
   <div class="container">
    <h2><label th:text="${product.productName}"></label>（<label th:text="${product.productNameKana}"></label>）</h2>
    <table border= "1" cellspacing="7%" cellpadding="7%">
        <tr>
        <th>画像</th><th>価格</th><th>発売元</th><th>発売年月日</th>
        </tr>
        <tr>
            <td width="30%"><img class="productImage" th:src="@{{imagePath} (imagePath=${product.imageFullPath}) }" alt="" /></td>
            <td class="number" th:text="|${product.price}円|" ></td>
            <td th:text="${product.releaseCompany}"/>
            <td th:text="${product.releaseDate}"/>
        </tr>
    </table>
    
    <p>商品説明 <textarea name="explain" cols="60" rows="5" readonly th:text="${product.productDescription}"></textarea></p>
    

    	<form>
    		<div class="kabu">
        		<p>購入個数 
        		<input type="number" id ="productCount"  name="productCount" class="count number" value="0" min="0" step="1"/> 
        		<input type="hidden" name="productId" th:value="${product.id}"/>
        		</p>
			
				<button id="cartButton">カートに追加</button>
   	 		</div>
   	 	</form>
   	 	
   	 </div>
   	 
   	 <script>
$(() => {
	$('#cartButton').on('click', () => {
		let productCount = $('#productCount').val();
	 	
	 	if (productCount == 0) {
	 		alert("個数が0です。");
	 		return;
	 	}
	 	
	 	$('form').attr('action', '/hope/cart/add');
	 	$('form').submit();
	});
});


</script>
  
    
    

</body>
</html>
